.navbar-custom{
    background: #112B3C;

}

.navigasi{

    padding: 10px;

    .navbar-brand{
        color: #fff;
    }

    .nav-item{
        // position:relative;
        margin-left: 10px;
        margin-right: 5px;
    }

    .login{
        margin-top: 5px;
    }

    .daftar{
        margin-top: 5px;
    }

    .nav-link{
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }
}

.nav_2{
    .nav-item{
        width: 50em;
    }
    
}