.navbar-custom {
  background: #112B3C;
}

.navigasi {
  padding: 10px;
}

.navigasi .navbar-brand {
  color: #fff;
}

.navigasi .nav-item {
  margin-left: 10px;
  margin-right: 5px;
}

.navigasi .login {
  margin-top: 5px;
}

.navigasi .daftar {
  margin-top: 5px;
}

.navigasi .nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.nav_2 .nav-item {
  width: 50em;
}
/*# sourceMappingURL=style.css.map */