<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Diskusi</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="scss/style.scss"> -->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fe8270cc7d.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- header -->
    <header>
        <div class="container-flex">
            <!-- additional navigation -->
            <!-- navigation bar (header menu) -->
            <nav class="navbar navbar-expand-lg navbar-custom navigasi">
                <div class=""></div>
                <a class="navbar-brand" href="#">Forum Diskusi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><b>HOME</b> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><b>MEMBER</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><b>ARTIKEL</b></a>
                        </li>
                        <li class="nav-item login">
                            <!-- @if (Auth::check() && Auth::user()->role == 'author')
                        <li><a href="{{ url('user/' . Auth::user()->nameslug) }}"><i class="fa fa-user"></i> {{
                                Auth::user()->name }}</a></li>
                        @endif

                        @if (Auth::check() && Auth::user()->role == 'admin')
                        @if (!empty($page) && $page == 'admin')
                        <li class="active"><a href="{{ url('admin') }}"><i class="fa fa-user"></i> Admin</a></li>
                        @else
                        <li><a href="{{ url('admin') }}"><i class="fa fa-user"></i> Admin</a></li>
                        @endif
                        @endif

                        @if (Auth::check())
                        <li><a href="{{ url('logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                        @else
                        @if (!empty($page) && $page == 'login')
                        <li class="active"><a href="{{ url('login') }}"><i class="fa fa-sign-in"></i> Login</a></li>
                        @else
                        <li><a href="{{ url('login') }}"><i class="fa fa-sign-in"></i> Login</a></li>
                        @endif
                        @endif -->
                        <button type="button" class="btn btn-danger btn-sm"><b>LOGIN</b></button>
                        </li>
                        <li class="nav-item daftar">
                            <button type="button" class="btn btn-success btn-sm"><b>DAFTAR</b></button>
                        </li>
                    </ul>
                    <!-- <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->
                </div>
            </nav>
        </div>
    </header>

    <section id="cari_diskusi">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="d-flex flex-grow-1">
                <form class="form-inline mr-2 my-auto w-100 d-inline-block order-1 cari" action="" method="post">
                    <div class="input-group">
                        <input class="form-control form-control-md" type="text" placeholder="Cari pertanyaan di sini"
                            aria-label="Search">
                        <span class="input-group-append">
                            <button class="btn btn-outline-light border border-left-0" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse flex-shrink-1 flex-grow-0 order-last" id="navbar7">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-info btn-md dropdown">Kategori</button>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <main>
        <div class="container-fluid">
            <div class="row mt-auto">
                <div class="container col-12 col-md-8 mt-md-5 diskusi">
                    <!-- <h2>Hoverable Dark Table</h2>
                    <p>The .table-hover class adds a hover effect (grey background color) on table rows:</p> -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="urutkan"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Urutkan
                        </button>
                        <div class="dropdown-menu" aria-labelledby="urutkan">
                            <button class="dropdown-item" type="button">Terbaru</button>
                            <button class="dropdown-item" type="button">Terlama</button>
                            <button class="dropdown-item" type="button">Populer</button>
                        </div>
                    </div>
                    <table class="table table-dark table-hover mt-md-5">
                        <thead>
                            <tr>
                                <th>Judul Pertanyaan</th>
                                <th>Kategori</th>
                                <th>User</th>
                                <th><i class="fas fa-eye"></i> Dilihat</th>
                                <th><i class="fas fa-comment"></i> Komentar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John</td>
                                <td><a href="#" class="badge badge-primary">Curhat</a></td>
                                <td>john@example.com</td>
                                <td>5 view</td>
                                <td>1 Komentar</td>
                            </tr>
                            <tr>
                                <td>Mary</td>
                                <td><a href="#" class="badge badge-primary">Pemrograman</a></td>
                                <td>mary@example.com</td>
                                <td>3 view</td>
                                <td>2 Komentar</td>
                            </tr>
                            <tr>
                                <td>July</td>
                                <td><a href="#" class="badge badge-primary">Kuliah</a></td>
                                <td>july@example.com</td>
                                <td>2 view</td>
                                <td>10 Komentar</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>

                <div class="container col-6 col-md-4 mt-md-5 sidebar">
                    <div class="container">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                            data-target="#posting_pertanyaan">Posting Pertanyaan Baru</button>
                        <br>
                        <p>Kategori</p>
                        <button type="button" class="btn btn-outline-warning btn-lg btn-block">Block level
                            button</button>
                        <button type="button" class="btn btn-outline-warning btn-lg btn-block">Block level
                            button</button>
                        <button type="button" class="btn btn-outline-warning btn-lg btn-block">Block level
                            button</button>
                        <button type="button" class="btn btn-outline-warning btn-lg btn-block">Block level
                            button</button>
                    </div>
                </div>
            </div>
            <!-- New Thread Modal -->
            <div class="modal fade" id="posting_pertanyaan" tabindex="-1" role="dialog"
                aria-labelledby="thread_pertanyaan" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header d-flex align-items-center bg-primary text-white">
                                <h6 class="modal-title mb-0" id="thread_pertanyaan">Pertanyaan Baru</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="judul_pertanyaan">Judul</label>
                                    <input type="text" class="form-control" id="judul_pertanyaan"
                                        name="judul_pertanyaan" placeholder="Masukkan judul" autofocus="" />
                                </div>

                                <textarea class="form-control summernote" id="tulisan_pertanyaan"
                                    name="tulisan_pertanyaan" placeholder="Masukkan Pertanyaan"
                                    style="resize:none;"></textarea>

                                <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                                    <input type="file" class="custom-file-input" id="gambar_pertanyaan"
                                        name="tulisan_pertanyaan" multiple="" />
                                    <label class="custom-file-label" for="gambar_pertanyaan">Gambar (maksimal 1
                                        file)</label>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal"
                                    id="batal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="submit_pertanyaan">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-center text-white fixed-bottom" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-2">
            <!-- Section: Social media -->
            <section class="mb-2">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-dark" href="">Kelompok 2</a>
        </div>
        <!-- Copyright -->
    </footer>


</body>

</html>